<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BOOK REVIEWS</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/style.css">
</head>

<body>
    <header class="nav">
        <span class="icon" id="myBtn">
            <i class="fa fa-bars"></i>
        </span>
        <div class="navbar container flex" id="nav--hide">
            <div class="nav-list">
                <a href="/" class="nav-item">home</a>
                <a href="/reviews" class="nav-item">book reviews</a>
                <a href="/addreview" class="nav-item">add a review</a>
                <a href="/about" class="nav-item">contact</a>
            </div>
            <div class="nav-list-self">
                <span style="color: aliceblue;" class="social-media">
                    <i class="fa fa-facebook-square fa-lg" aria-hidden="true">  </i>
                    <i class="fa fa-instagram fa-lg" aria-hidden="true">  </i>
                    <i class="fa fa-twitter-square fa-lg" aria-hidden="true">  </i></span>
                <%# <a href="#" class="nav-item signup">sign up</a> %>
            </div>
        </div>
    </header>