<%- include ('partials/header') %>

          <div class="hero_404">
                    <div class="container">
                              <div class="hero__text">
                                        <h1 class="hero__h1">404. That's an error.</h1>
                                        <p class="hero__p">The requested URL /badpage was not found on this
                                                  server.<br><br>
                                                  That's all we know.</p>

                              </div>
                              <div class="hero__img">
                                        <img src="Cartoon_Robot.svg" alt="">
                              </div>
                    </div>
          </div>
          <%- include ('partials/footer') %>