<%- include ('partials/header') %>
          <div class="hero-about">
                    <div class="container">
                              <div class="hero__text">
                                        <h1 class="hero__h1">About us</h1>
          
                                        <p class="hero__p">
                                     
                                                  We believe in education and self improvment. One great way to
                                                  achieve that is by reading.
                                                  <br> <br>
                                                  Reading is important because it develops our thoughts, gives us
                                                  endless knowledge and lessons while keeping our minds active.
                                                  <br> <br>
                                                  Support us and our mission on Patreon.
                                        </p>
                                        <a href="#" class="btn about">Become our PATRON</a>
                              </div>
                    </div>
          </div>
          <%- include ('partials/footer') %>