<div class="layout layer-landing">

    <%- include ('partials/header') %>

        <video id="background-video" poster="./video-preview.png" src="./Library.mp4" type="video/mp4" autoplay muted
            loop>
        </video>

        <div class="hero_landing">
            <div class="hero__text">
                <h1 class="hero__h1">WELCOME TO BOOK REVIEWS!</h1>
                <p class="hero__p">“Today a reader, tomorrow a leader.” – Margaret Fuller</p>
                <a href="/reviews" class="btn"> Meet your next favourite book!</a>
            </div>
        </div>
        <%- include ('partials/footer') %>
</div>